<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">{{(car|async)?.licensePlate || 'loading…'}}</h2>

    <div *ngIf="(car|async)?.stats != null" class="row">
      <div class="col-md">
        <dl class="row">
          <dt class="col-lg-4">Refuels</dt>
          <dd class="col-lg-8">{{(car|async)?.stats.refuelCount}}</dd>
          <dt class="col-lg-4">Total distance</dt>
          <dd class="col-lg-8">
            <span *ngIf="(car|async)?.stats.totalDistance">{{(car|async)?.stats.totalDistance | number}} km</span>
            <em *ngIf="!(car|async)?.stats.totalDistance">more refuels needed</em>
          </dd>
          <dt class="col-lg-4">Total fuel amount</dt>
          <dd class="col-lg-8">{{(car|async)?.stats.totalFuel | number:'1.2-2'}} l</dd>
          <dt class="col-lg-4">Total spendings</dt>
          <dd class="col-lg-8">{{(car|async)?.stats.totalPrice | number:'1.2-2'}} €</dd>
        </dl>
      </div>
      <div class="col-md">
        <dl class="row">
          <dt class="col-lg-8">Average consumption</dt>
          <dd class="col-lg-4">
            <span *ngIf="(car|async)?.stats.averageConsumption">{{(car|async)?.stats.averageConsumption * 100 | number:'1.2-2'}} cl/km</span>
            <em *ngIf="!(car|async)?.stats.averageConsumption">more refuels needed</em>
          </dd>
          <dt class="col-lg-8">Average spending per distance</dt>
          <dd class="col-lg-4">
            <span *ngIf="(car|async)?.stats.averagePricePerDistance">{{(car|async)?.stats.averagePricePerDistance * 100 | number:'1.2-2'}} ct/km</span>
            <em *ngIf="!(car|async)?.stats.averagePricePerDistance">more refuels needed</em>
          </dd>
          <dt class="col-lg-8">Average spending per liter</dt>
          <dd class="col-lg-4">{{(car|async)?.stats.averagePricePerVolume | number:'1.2-2'}} €/l</dd>
        </dl>
        <a class="btn btn-primary" [routerLink]="['/cars', (car|async)?.id, 'refuels', '_new']"><i class="fa fa-tint mr-1" aria-hidden="true"></i> Enter new refuel</a>
      </div>
    </div>
    <div *ngIf="(car|async) != null && (car|async)?.stats == null" class="row">
      <a class="btn btn-primary" [routerLink]="['/cars', (car|async)?.id, 'refuels', '_new']"><i class="fa fa-tint mr-1" aria-hidden="true"></i> Enter new refuel</a>
    </div>
  </div>
</div>

<div class="container" *ngIf="(refuels|async)?.length">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" (click)="activeTab = tab.id" [ngClass]="{ active: tab.id === activeTab }">{{ tab.label }}</a>
    </li>
  </ul>

  <div *ngIf="activeTab == 'charts' && (refuels|async)?.length > 2" class="mt-3">
    <h3>Mileage over time</h3>
    <google-chart [data]="mileageChartData" *ngIf="mileageChartData?.dataTable"></google-chart>

    <h3>Consumption over time</h3>
    <google-chart [data]="consumptionChartData" *ngIf="consumptionChartData?.dataTable"></google-chart>

    <h3>Fuel price over time</h3>
    <google-chart [data]="fuelPriceChartData" *ngIf="fuelPriceChartData?.dataTable"></google-chart>
  </div>

  <div *ngIf="activeTab == 'table'" class="mt-3">
    <h3>Refuels</h3>
    <table class="table responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th class="number">Mileage</th>
          <th class="number">Distance</th>
          <th class="number">Fuel</th>
          <th class="number">Price</th>
          <th class="number">Consumption</th>
          <th class="number">Price per liter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let refuel of refuels | async">
          <td style="white-space: nowrap">{{refuel.date | date}}</td>
          <td class="number">{{refuel.mileage | number}} <small>km</small></td>
          <td class="number"><span *ngIf="refuel.distance">{{refuel.distance | number}} <small>km</small></span></td>
          <td class="number">{{refuel.fuelAmount | number:'1.2-2'}} <small>l</small></td>
          <td class="number">{{refuel.totalPrice | number:'1.2-2'}} <small>€</small></td>
          <td class="number"><span *ngIf="refuel.consumption">{{refuel.consumption * 100 | number:'1.2-2'}} <small>cl/km</small></span></td>
          <td class="number">{{refuel.pricePerLiter | number:'1.2-2'}} <small>€/l</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
