<div class="jumbotron jumbotron-fluid" *ngIf="(user | async) != null">
  <div class="container">
    <h2 class="display-3">Welcome, {{ (user | async)?.displayName }}!</h2>

    <div *ngIf="(cars | async)?.length">
      <p>Here's your cars:</p>
      <ul>
        <li *ngFor="let car of cars | async">
          <a [routerLink]="['/cars', car.id]">{{ car.licensePlate }}</a>
        </li>
      </ul>
    </div>

    <p>
      <a class="btn btn-primary" [routerLink]="['/cars', '_new']"><i class="fa fa-car mr-1" aria-hidden="true"></i> Create new car</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" *ngIf="(user | async) == null">
  <div class="container">
    <h2 class="display-3">Welcome!</h2>
  </div>
</div>
