<div *ngIf="(user | async) != null">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-3">Welcome, {{ (user | async)?.displayName }}!</h2>

      <p>
        <a class="btn btn-primary" [routerLink]="['/cars', '_new']"><i class="fa fa-car mr-1" aria-hidden="true"></i> Create new car</a>
      </p>
    </div>
  </div>

  <div class="container" *ngIf="(cars | async)?.length">
    <h3 class="display-4">Your cars</h3>
    <table class="table">
      <thead>
        <tr>
          <th>License plate</th>
          <th class="number">Mileage</th>
          <th class="number">Last refuel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars | async">
          <td><a [routerLink]="['/cars', car.id]">{{ car.licensePlate }}</a></td>
          <td class="number">{{ car.lastRefuel?.mileage | number }}</td>
          <td class="number">{{ car.lastRefuel?.date | date }}</td>
          <td><button class="btn btn-primary btn-sm" [routerLink]="['/cars', car.id, 'refuels', '_new']"><i class="fa fa-tint" aria-hidden="true" title="Enter new refuel"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="(user | async) == null">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-3">Manage your cars</h2>
      <p class="lead">Record your fuel consumption and get interesting statistics.</p>
    </div>
  </div>
  <div class="container signin">
    <p>Sign up now, it's free!</p>
    <div class="row">
      <div class="col-sm-6" *ngFor="let provider of authenticationProviders">
        <button class="btn btn-outline-primary btn-lg btn-block" (click)="signin(provider.id)">
          <i class="fa fa-{{ provider.icon }} mr-1"></i> {{ provider.label }}
        </button>
      </div>
    </div>
  </div>
</div>
