<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-5">New Car</h2>
  </div>
</div>

<div class="container mt-3 mb-3">
  <form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <div class="form-group">
      <label for="licensePlate">License plate</label>
      <input class="form-control" name="licensePlate" id="licensePlate" formControlName="licensePlate" required autofocus>
    </div>
    <button class="btn btn-primary" [disabled]="form.status !== 'VALID'">Save new car</button>
  </form>
</div>
