.number {
  text-align: right;
  white-space: nowrap;
}

.footer {
  font-size: .7rem;
  text-align: right;
  color: #ccc;
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  padding-top: .5rem;
}

.footer .badge {
  font-size: .7rem;
}
